.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.App-header {
  background-color: black;
  height: 8vh;
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 700;
  padding: 0 1%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#header-name {
  color: red;
  text-decoration: underline;
  text-decoration-color: black;
}

#header-name > span > small {
  font-size: 18px;
  margin-left: 3px;
}

.App-header > form {
  width: 50%;
  max-width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header > form > input {
  margin-right: 10px;
}

.logout-login, .header-link > p, .user-name {
  color: white;
  text-decoration-color: black;
}

.logout-login {
  margin: auto;
}

.header-link > p, .user-name {
  font-size: 16px;
  font-weight: normal;
  margin: auto 10px;
}

.header-link:hover {
  text-decoration-color: black;
}

.logout-login, .search-checkbox {
  font-size: 18px;
}

.search-checkbox {
  width: 120px;
  display: flex;
  color: white;
  align-items: center;
}

.search-checkbox > p {
  margin: 0 auto;
}

.logout-login:hover {
  cursor: pointer;
}

.movie-container, .genre-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 2% 50px 2%;
}

.movie-show {
  height: 66vh;
  min-height: 450px;
  max-height: 500px;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: black;
  padding: 3%; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.movie-show-backdrop {
  margin: auto;
}

#backdrop-picture {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: auto;
}

.movie-show-details {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 20px;
  max-height: 300px;
  max-width: 700px;
  margin: auto;
}

.movie-show-details > .show-released, .movie-show-details > .show-runtime, .movie-show-details > .show-genres {
  align-self: flex-start;
  padding-left: 15px;
  color: rgb(165, 165, 165);
}

.media-plus-link {
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.trailer {
  margin-top: 5%;
  width: 60vw;
  height: 45vh;
  max-width: 900px;
}

.show-amazon {
  padding: 50px 0 20px;
  font-size: 22px;
}

.show-homepage {
  padding-bottom: 20px;
}

.show-genres {
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  padding: 20px 0 70px 0;
  background: black;
  color: white;
  font-size: 17px;
  font-weight: 200;
}

.favicons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.favicons > img {
  margin: 10px 10px 10px 5px;
  height: 40px;
}

@media only screen and (min-width: 1300px) {
  .movie-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1650px) {
  .movie-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 950px) {
  .movie-show {
    display: flex; 
    flex-direction: column;
    max-height: 80vh;
    min-height: 700px;
  }
}

@media only screen and (max-width: 750px) {
  .trailer {
    width: 90vw;
  }
}

@media only screen and (max-width: 550px) {
  #backdrop-picture {
    width: 400px;
  }
  .show-amazon {
    width: 450px;
  }
}