.App {
  text-align: center;
}

.App-header {
  background-color: black;
  height: 8vh;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 700;
  color: white;
  padding: 0 20px;
}

.movie-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

.movie-show {
  color: white;
  display: column;
  background: black;
  
}