.App {
  text-align: center;
}

.App-header {
  background-color: black;
  height: 8vh;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 700;
  padding: 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#header-name {
  color: red;
  text-decoration: underline;
  text-decoration-color: black;
}

.movie-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

.movie-show {
  color: white;
  display: column;
  background: black;
  padding-top: 10px;
  
}